@font-face {
  font-family: icons;
  font-display: swap;
  src: url(./fonts/icomoon.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(./fonts/Roboto-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(./fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(./fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
.wrapper {
  height: 100vh;
  align-items: center ;
  justify-content: center;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.wrapper > * {
  min-width: 0
}