.viewedProductsSwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  & .swiper-wrapper {width: 100%;}
  & .swiper-button-prev, & .swiper-button-next {
    color: #10aec4;
    user-select: none;
  }
  & .swiper-button-prev {
    right: 80px;
  }
}

.viewedProductsSwiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;

  & .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}